<?xml version="1.0" ?>
<launch>
    <!-- Launch the camera driver -->
    <include file="$(find openni2_launch)/launch/openni2.launch" />

    <!-- Launch Apriltag detection -->
    <include file="$(find vgn_ros)/launch/apriltag_detection.launch" />

    <!-- Launch the robot driver -->

    <!-- Launch the grasp detection nodes -->
    <include file="$(find vgn_ros)/launch/grasp_detection.launch" />

    <!-- Run the policy -->

    <!-- Debug -->
    <node pkg="tf" type="static_transform_publisher" name="extrinsic" args="0.0 0.0 0.5 0.0 0.0 0.0 base_link camera_link 10" />

</launch>
