<?xml version="1.0" ?>
<launch>
    <!-- Parameters -->
    <arg name="robot_ip" default="172.16.0.2" />

    <!-- Load configuration -->
    <rosparam command="load" file="$(find vgn)/config/panda.yaml" />

    <!-- Transform required by MoveIt -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster" args="0 0 0 0 0 0 world panda_link0" />

    <!-- Launch franka control -->
    <include file="$(find franka_control)/launch/franka_control.launch">
        <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>

    <!-- Start a joint trajectory controller -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>

    <!-- Launch camera driver -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_pointcloud" value="true" />
        <arg name="publish_tf" value="false" />
    </include>

    <!-- Hand-eye calibration -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="hand_eye_broadcaster" args="0.03226862 -0.06137175  0.04107702 0.00099995 0. 0.39898185 0.91695828 panda_link8 camera_depth_optical_frame" />

</launch>
